.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    height: 50px;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    height: 60px;
}

.header_inner {
    align-items: center;
}

.searchBar_level {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
}